<%- include('layouts/head.ejs')%>
<body>
    <%- include('layouts/navbar.ejs')%>
    <main class="">
        <img class="sadImage" src="/images/sad.png">
        <h1>404</h1>
        <span>Page Not Found</span>
    </main>
</body>
</html>