<%- include('layouts/head.ejs')%>
<body>
    <%- include('layouts/navbar.ejs')%>
    <main class="">
        <img class="sadImage" src="/images/server-error.png">
        <h1>500</h1>
        <span>Internal Server Error</span>
    </main>
</body>
</html>