<%- include('layouts/head.ejs')%>
<body>
    <main>
        <h1>Welcome to to-do app</h1>
        <p>A simple to-do project made with Node.js, Express and MongoDB, featuring basic authentication.(Probably not safe)</p>
        <a href="/profile">Create Your Own To-do List</a>
    </main>
</body>
</html>