<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <% if (pageTitle === "Omg 404" || pageTitle === "Omg 500") { %>
        <link rel="stylesheet" href="/css/404.css">
    <% } %>
    <% if (pageTitle === "Profile") { %>
        <link rel="stylesheet" href="/css/todo.css">
    <% } %>
    <% if (pageTitle === "Todo") { %>
        <link rel="stylesheet" href="/css/home.css">
    <% } %>
    <title><%= pageTitle %></title>
</head>