<header class="header">
    <div class="container">
        <a class="logo">TODO</a>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/404">404</a></li>
            <li>
                <form action="/nuke" method="post">
                    <input type="submit" value="Nuke" />
                </form>
            </li>
        </ul>
    </div>
</header>